/* src/assets/fonts/fonts.css */

/* Light */
@font-face {
  font-family: 'Gellix';
  src: url('./Gellix-Light_R.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/* Light Italic */
@font-face {
  font-family: 'Gellix';
  src: url('./Gellix-LightItalic_R.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

/* Regular */
@font-face {
  font-family: 'Gellix';
  src: url('./Gellix-Regular_R.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Regular Italic */
@font-face {
  font-family: 'Gellix';
  src: url('./Gellix-RegularItalic_R.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

/* SemiBold */
@font-face {
  font-family: 'Gellix';
  src: url('./Gellix-SemiBold_R.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* SemiBold Italic */
@font-face {
  font-family: 'Gellix';
  src: url('./Gellix-SemiBoldItalic_R.otf') format('opentype');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}